
// colors
$sage-green : #72988D;
$green: #7BB897;
$light-green: #A8CDBB;
$cream: #F2E7C7;
$brown: #705051;



$orange: #FF7D53;
$pale-orange: #FFA87C;
$blue: #98CABE;
$pale-blue: #B9DCC6;
$beige: #E8D4BC;
